<ng-include src="'/templates/funds/_flash.html'"></ng-include>
<ng-include ng-if="currency == 'brl'" src="'/templates/funds/deposit_brl.html'"></ng-include>
<ng-include ng-if="currency == 'btc'" src="'/templates/funds/deposit_btc.html'"></ng-include>
<ng-include ng-if="currency == 'eth'" src="'/templates/funds/deposit_eth.html'"></ng-include>
<ng-include ng-if="currency == 'doge'" src="'/templates/funds/deposit_doge.html'"></ng-include>
<ng-include ng-if="currency == 'ltc'" src="'/templates/funds/deposit_ltc.html'"></ng-include>
<ng-include ng-if="currency == 'spero'" src="'/templates/funds/deposit_spero.html'"></ng-include>
<ng-include ng-if="currency == 'mxt'" src="'/templates/funds/deposit_mxt.html'"></ng-include>
<ng-include ng-if="currency == 'rvn'" src="'/templates/funds/deposit_rvn.html'"></ng-include>
<ng-include ng-if="currency == 'da'" src="'/templates/funds/deposit_da.html'"></ng-include>
<ng-include ng-if="currency == 'ac'" src="'/templates/funds/deposit_ac.html'"></ng-include>
<ng-include ng-if="currency == 'ep'" src="'/templates/funds/deposit_ep.html'"></ng-include>
<ng-include ng-if="currency == 'ad'" src="'/templates/funds/deposit_ad.html'"></ng-include>
<ng-include ng-if="currency == 'bd'" src="'/templates/funds/deposit_bd.html'"></ng-include>
<ng-include ng-if="currency == 'hb'" src="'/templates/funds/deposit_hb.html'"></ng-include>
<ng-include ng-if="currency == 'am'" src="'/templates/funds/deposit_am.html'"></ng-include>
<ng-include ng-if="currency == 'at'" src="'/templates/funds/deposit_at.html'"></ng-include>
<ng-include ng-if="currency == 'fz'" src="'/templates/funds/deposit_fz.html'"></ng-include>
<ng-include ng-if="currency == 'ew'" src="'/templates/funds/deposit_ew.html'"></ng-include>
<ng-include ng-if="currency == 'an'" src="'/templates/funds/deposit_an.html'"></ng-include>
<ng-include ng-if="currency == 'fj'" src="'/templates/funds/deposit_fj.html'"></ng-include>
<ng-include ng-if="currency == 'ba'" src="'/templates/funds/deposit_ba.html'"></ng-include>
