<ng-include src="'/templates/funds/_flash.html'"></ng-include>
<ng-include ng-if="currency == 'brl'" src="'/templates/funds/withdraw_brl.html'"></ng-include>
<ng-include ng-if="currency == 'btc'" src="'/templates/funds/withdraw_btc.html'"></ng-include>
<ng-include ng-if="currency == 'eth'" src="'/templates/funds/withdraw_eth.html'"></ng-include>
<ng-include ng-if="currency == 'doge'" src="'/templates/funds/withdraw_doge.html'"></ng-include>
<ng-include ng-if="currency == 'ltc'" src="'/templates/funds/withdraw_ltc.html'"></ng-include>
<ng-include ng-if="currency == 'spero'" src="'/templates/funds/withdraw_spero.html'"></ng-include>
<ng-include ng-if="currency == 'mxt'" src="'/templates/funds/withdraw_mxt.html'"></ng-include>
<ng-include ng-if="currency == 'rvn'" src="'/templates/funds/withdraw_rvn.html'"></ng-include>
<ng-include ng-if="currency == 'da'" src="'/templates/funds/withdraw_da.html'"></ng-include>
<ng-include ng-if="currency == 'ac'" src="'/templates/funds/withdraw_ac.html'"></ng-include>
<ng-include ng-if="currency == 'ep'" src="'/templates/funds/withdraw_ep.html'"></ng-include>
<ng-include ng-if="currency == 'ad'" src="'/templates/funds/withdraw_ad.html'"></ng-include>
<ng-include ng-if="currency == 'bd'" src="'/templates/funds/withdraw_bd.html'"></ng-include>
<ng-include ng-if="currency == 'hb'" src="'/templates/funds/withdraw_hb.html'"></ng-include>
<ng-include ng-if="currency == 'am'" src="'/templates/funds/withdraw_am.html'"></ng-include>
<ng-include ng-if="currency == 'at'" src="'/templates/funds/withdraw_at.html'"></ng-include>
<ng-include ng-if="currency == 'fz'" src="'/templates/funds/withdraw_fz.html'"></ng-include>
<ng-include ng-if="currency == 'ew'" src="'/templates/funds/withdraw_ew.html'"></ng-include>
<ng-include ng-if="currency == 'an'" src="'/templates/funds/withdraw_an.html'"></ng-include>
<ng-include ng-if="currency == 'fj'" src="'/templates/funds/withdraw_fj.html'"></ng-include>
<ng-include ng-if="currency == 'ba'" src="'/templates/funds/withdraw_ba.html'"></ng-include>
